@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.project-page,
.page-title {
    display: flex;
    animation: fadeIn 1s;
}

.page-title {
    padding-left: 40px;
}

.project-page .content {
    width: 50%;
}

@media screen and (max-width: 700px) {
    .project-page,
    .page-title {
        display: none;
    }
}

@media screen and (max-width: 1330px) {
    .project-page {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-page .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-page .map {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-title {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .project-page .solving-options {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 10px;
    }

    .project-page .solving-options .pseudocode {
        display: none;
    }

    .project-page .solving-options .solve-button {
        width: 100%;
    }

}

.map {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.selector {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option {
    width: 50px;
    height: 50px;
}

.selector .option.active {
    border: 5px solid #127369;
}

.reset-button {
    width: 600px;
}

.solving-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    align-items: left;
}

.project-page .solving-options .pseudocode {
    height: 70%;
}